[package]
name = "chain-forge-common"
version.workspace = true
edition.workspace = true
license.workspace = true
rust-version.workspace = true

[dependencies]
eyre.workspace = true
serde.workspace = true
serde_json.workspace = true
thiserror.workspace = true
